<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Terms</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
    <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus">
      New
    </a>
	</div>

  <div data-role="content">
    <ul data-role="listview">
      <% @terms.each do |term| %>
      
          <li>
            <a href="<%= url_for :action => :show, :id => term.object %>">
              <%= term.name %>
            </a>
          </li>
      
      <% end %>
    </ul>
  </div>

</div>
