<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @term.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @term.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="term[name]" class="fieldLabel">Name</label>
            <input type="text" id="term[name]" name="term[name]" <%= placeholder("Name") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
