<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @instructor.firstname %></h1>
    <a href="<%= url_for :action => :show, :id => @instructor.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @instructor.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @instructor.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="instructor[firstname]" class="fieldLabel">Firstname</label>
            <input type="text" id="instructor[firstname]" name="instructor[firstname]" value="<%= @instructor.firstname %>" <%= placeholder( "Firstname" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="instructor[lastname]" class="fieldLabel">Lastname</label>
            <input type="text" id="instructor[lastname]" name="instructor[lastname]" value="<%= @instructor.lastname %>" <%= placeholder( "Lastname" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="instructor[rmpUrl]" class="fieldLabel">Rmpurl</label>
            <input type="text" id="instructor[rmpUrl]" name="instructor[rmpUrl]" value="<%= @instructor.rmpUrl %>" <%= placeholder( "Rmpurl" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="instructor[departmentID]" class="fieldLabel">Departmentid</label>
            <input type="text" id="instructor[departmentID]" name="instructor[departmentID]" value="<%= @instructor.departmentID %>" <%= placeholder( "Departmentid" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
