<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @instructor.object %>
    <h1>Edit <%= @instructor.firstname%></h1>
    <%= link_to "Delete", :action => :delete, :id => @instructor.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @instructor.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Firstname: </td>
              <td class="itemValue"><input type="text" name="instructor[firstname]" value="<%= @instructor.firstname %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Lastname: </td>
              <td class="itemValue"><input type="text" name="instructor[lastname]" value="<%= @instructor.lastname %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Rmpurl: </td>
              <td class="itemValue"><input type="text" name="instructor[rmpUrl]" value="<%= @instructor.rmpUrl %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Departmentid: </td>
              <td class="itemValue"><input type="text" name="instructor[departmentID]" value="<%= @instructor.departmentID %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
