<div data-role="page">
  <% student = AppApplication.current_student %>
  <% tempregs = AppApplication.get_tempregs %>
  <div data-role="panel" id="panel" data-position="right" data-display="push " data-theme="a">
  <% if student == nil %>
        <h3>Please sign in</h3>
        <p>You won't be able to add courses until you sign in</p>
        <a href="#" data-role="button" id="loginbutton">Login</a>
        <a href="/app/Student/new" data-role="button" id="registerbutton">Register</a>
  <% else %>
        <h3><%= "#{student.firstname} #{student.lastname}" %></h3>
        <ul id="panellist" data-role="listview" data-theme="a" data-divider-theme="a">
          <li data-role="list-divider">Temporary Registrations<span class="ui-li-count"><%= tempregs.length %></span></li>
          <% tempregs.each do |tempreg| %>
          <li>
            <a href="/app/TempReg/{<%= tempreg.object %>}"><%= tempreg.title %></a>
          </li>
          <% end %>
          <br>
          <li data-role="list-divider">Registrations<span class="ui-li-count">0</span></li>
          <br>
          <li data-role="list-divider">Account Information</li>
          <li id="logoutbutton"><a href="/app/Student/logout">Logout</a></li>
        </ul>
  <% end %>
  </div>
	<div data-role="header" data-position="inline">
    <h1>Instructors</h1>
    <a href="/app/Course/listmethods" class="ui-btn-left" data-direction="reverse" data-icon="arrow-l" <%= "data-ajax='false'" if is_bb6 %>>
      Back
    </a>
	</div>

  <div data-role="content">
    <ul data-role="listview">
      <% @instructors.each do |instructor| %>
      
          <li>
            <a href="<%= url_for :action => :show, :id => instructor.object %>">
              <%= instructor.firstname + " " + instructor.lastname %>
            </a>
          </li>
      
      <% end %>
    </ul>
  </div>

</div>
