<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @instructor.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @instructor.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="instructor[firstname]" class="fieldLabel">Firstname</label>
            <input type="text" id="instructor[firstname]" name="instructor[firstname]" <%= placeholder("Firstname") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="instructor[lastname]" class="fieldLabel">Lastname</label>
            <input type="text" id="instructor[lastname]" name="instructor[lastname]" <%= placeholder("Lastname") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="instructor[rmpUrl]" class="fieldLabel">Rmpurl</label>
            <input type="text" id="instructor[rmpUrl]" name="instructor[rmpUrl]" <%= placeholder("Rmpurl") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="instructor[departmentID]" class="fieldLabel">Departmentid</label>
            <input type="text" id="instructor[departmentID]" name="instructor[departmentID]" <%= placeholder("Departmentid") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
