<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1>New Instructor</h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @instructor.object %>"/>
      <table>
          
            <tr>
                <td class="itemLabel">Firstname: </td>
                <td class="itemValue"><input type="text" name="instructor[firstname]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Lastname: </td>
                <td class="itemValue"><input type="text" name="instructor[lastname]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Rmpurl: </td>
                <td class="itemValue"><input type="text" name="instructor[rmpUrl]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Departmentid: </td>
                <td class="itemValue"><input type="text" name="instructor[departmentID]"/></td>
            </tr>
          
      </table>
      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
