<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @instructor.firstname %></h1>
    <%= link_to "Edit", :action => :edit, :id => @instructor.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Firstname</td>
        <td class="itemValue"><%= @instructor.firstname%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Lastname</td>
        <td class="itemValue"><%= @instructor.lastname%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">RmpUrl</td>
        <td class="itemValue"><%= @instructor.rmpUrl%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">DepartmentID</td>
        <td class="itemValue"><%= @instructor.departmentID%></td>
      </tr>
      
    </table>
  </div>

</div>
