<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @instructor.firstname %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @instructor.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">Firstname</div>
            <div class="itemValue"><%= @instructor.firstname %></div>
          </li>
      
          <li>
            <div class="itemLabel">Lastname</div>
            <div class="itemValue"><%= @instructor.lastname %></div>
          </li>
      
          <li>
            <div class="itemLabel">RmpUrl</div>
            <div class="itemValue"><%= @instructor.rmpUrl %></div>
          </li>
      
          <li>
            <div class="itemLabel">DepartmentID</div>
            <div class="itemValue"><%= @instructor.departmentID %></div>
          </li>
      
    </ul>
  </div>

</div>
