<div data-role="page" id="createstudent">

	<div data-role="header" data-position="inline">
    <h1 id="waitmsg">Account Registration</h1>
	</div>

  <div data-role="content" id="content">
  		<%= $message %>
		<input type="hidden" id="redirect" value="<%= @redirect %>"
  </div>

</div>
<script>
	$(document).on('pageshow', '#createstudent', function() {
		console.log('studentinit');
		var redirect = $('div.ui-page-active input#redirect').val();
		redirectuser(redirect);
	});

	function redirectuser(redirect) {
		var url;
		console.log(redirect);
		if (redirect == 'true') {
			url = '/app';
		} else {
			url = '/app/Student/new';
		}
		console.log(url);
		setTimeout(function() {
			console.log
			window.location=url;
		}, 5000);
	}

	function getParameterByName(name, url) {
			var match = RegExp('[?&]' + name + '=([^&]*)').exec(url);
			return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
	}
</script>