<div data-role="page" class="swipepage">
<% @student = AppApplication.current_student %>
  <%= AppApplication.get_panel %>

  <div data-role="header" data-position="inline">
    <h1>Edit <%= "#{@student.firstname} #{@student.lastname}" %></h1>
    <a href="/app" class="ui-btn-left" data-icon="false" data-direction="reverse">
      Back
    </a>
    <a href="#panel" class="ui-btn-right" data-iconpos="notext" data-icon="bars" ></a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @student.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="student[firstname]" class="fieldLabel">Firstname</label>
            <input type="text" id="student[firstname]" name="student[firstname]" value="<%= @student.firstname %>" <%= placeholder( "Firstname" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="student[lastname]" class="fieldLabel">Lastname</label>
            <input type="text" id="student[lastname]" name="student[lastname]" value="<%= @student.lastname %>" <%= placeholder( "Lastname" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="student[studentidnumber]" class="fieldLabel">Studentidnumber</label>
            <input type="text" id="student[studentidnumber]" name="student[studentidnumber]" value="<%= @student.studentidnumber %>" <%= placeholder( "Studentidnumber" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="student[email]" class="fieldLabel">Email</label>
            <input type="text" id="student[email]" name="student[email]" value="<%= @student.email %>" <%= placeholder( "Email" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="student[searchable]" class="fieldLabel">Searchable</label>
            <input type="text" id="student[searchable]" name="student[searchable]" value="<%= @student.searchable %>" <%= placeholder( "Searchable" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="student[regtime_id]" class="fieldLabel">Regtime</label>
            <input type="text" id="student[regtime_id]" name="student[regtime_id]" value="<%= @student.regtime_id %>" <%= placeholder( "Regtime" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
