<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @student.object %>
    <h1>Edit <%= @student.firstname%></h1>
    <%= link_to "Delete", :action => :delete, :id => @student.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @student.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Firstname: </td>
              <td class="itemValue"><input type="text" name="student[firstname]" value="<%= @student.firstname %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Lastname: </td>
              <td class="itemValue"><input type="text" name="student[lastname]" value="<%= @student.lastname %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Studentidnumber: </td>
              <td class="itemValue"><input type="text" name="student[studentidnumber]" value="<%= @student.studentidnumber %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Email: </td>
              <td class="itemValue"><input type="text" name="student[email]" value="<%= @student.email %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Searchable: </td>
              <td class="itemValue"><input type="text" name="student[searchable]" value="<%= @student.searchable %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Regtime: </td>
              <td class="itemValue"><input type="text" name="student[regtime_id]" value="<%= @student.regtime_id %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
