<div data-role="page" class="swipepage">
<%= AppApplication.get_panel %>

	<div data-role="header" data-position="inline">
    <h1>Students</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
  <a href="#panel" class="ui-btn-right" data-iconpos="notext" data-icon="bars" ></a>
	</div>

  <div data-role="content">
    <ul data-role="listview">
      <% @students.each do |student| %>
      
          <li>
            <a href="<%= url_for :action => :show, :id => student.object %>">
              <%= student.firstname %>
            </a>
          </li>
      
      <% end %>
    </ul>
  </div>

</div>
