<div data-role="page" id="login">

	<div data-role="header" data-position="inline">
    <h1>Students</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
    <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus">
      New
    </a>
	</div>

  <div data-role="content">
	<form action="<%= url_for :action => :asynchttp %>" method="POST">
  	<ul data-role="listview">
		<li><input type="text" name="email" id="email" placeholder="Email" /></li>
		<li><input type="password" name="password" id="password" placeholder="Password"></li>
		<li><input type="submit" class="standardButton" id="submit" value="Login" /></li>
		</ul>
	</form>
	</div>

</div>
