<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1>New Student</h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @student.object %>"/>
      <table>
          
            <tr>
                <td class="itemLabel">Firstname: </td>
                <td class="itemValue"><input type="text" name="student[firstname]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Lastname: </td>
                <td class="itemValue"><input type="text" name="student[lastname]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Studentidnumber: </td>
                <td class="itemValue"><input type="text" name="student[studentidnumber]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Email: </td>
                <td class="itemValue"><input type="text" name="student[email]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Searchable: </td>
                <td class="itemValue"><input type="text" name="student[searchable]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Regtime: </td>
                <td class="itemValue"><input type="text" name="student[regtime_id]"/></td>
            </tr>
          
      </table>
      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
