<div data-role="page" id="register" class="swipepage">
  <%= AppApplication.get_panel %>

  <div data-role="header" data-position="inline">
    <h1>New <%= @student.title %></h1>
    <a href="/app" class="ui-btn-left" data-icon="false" data-direction="reverse">
      Back
    </a>
    <a href="#panel" class="ui-btn-right" data-iconpos="notext" data-icon="bars" ></a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :register %>">
      <input type="hidden" name="id" value="<%= @student.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="student[firstname]" class="fieldLabel">Firstname</label>
            <input type="text" id="student[firstname]" name="student[firstname]" />
          </div>
      
          <div data-role="fieldcontain">
            <label for="student[lastname]" class="fieldLabel">Lastname</label>
            <input type="text" id="student[lastname]" name="student[lastname]"/>
          </div>

          <div data-role="fieldcontain">
            <label for="student[email]" class="fieldLabel">Email</label>
            <input type="text" id="student[email]" name="student[email]" />
          </div>
          
          <div data-role="fieldcontain">
            <label for="student[studentidnumber]" class="fieldLabel">Student ID</label>
            <input type="text" id="student[studentidnumber]" name="student[studentidnumber]" />
          </div>

          <div data-role="fieldcontain">
            <label for="student[studentidnumber]" class="fieldLabel">Password</label>
            <input type="password" id="student[password]" name="student[password]" />
          </div>          

          <input type="hidden" class="studenttypeinput" id="student[type]" name="student[type]" />

          <fieldset id="st" name="st" data-role="controlgroup">
            <legend>Student Type:</legend>
          </fieldset>
      <input type="submit" id="createbutton" value="Create"/>
    </form>
  </div>
  <script>
    $(document).one('pageinit', "#register", function() {
      $.getJSON('http://prowebdesigns.org:3000/regtimes', function(regtimes) {
         for (var i = 0, len = regtimes.length; i < len; ++i) {
             var regtime = regtimes[i];
             console.log(regtime);
             var radio = $('<input />').attr({
                'type':'radio',
                'name':'studenttype',
                'id':"regtime" + String(regtime.id),
                'value':regtime.id
             }).addClass('stutype');
             var label = $('<label>').attr('for','regtime' + String(regtime.id)).text(regtime.studenttype);
             $('fieldset#st').append(radio).append(label).trigger('create');
             $('fieldset#st').controlgroup('refresh');
         }
         prepClicks();
      });
    });
    function prepClicks() {
      $("input[type='radio']").on( "change", function(event, ui) {
        console.log('clicked');
        clicked = $(this).val();
        $('div.ui-page-active .studenttypeinput').val(clicked);
      });
    }
  </script>

</div>
