<div data-role="page" id="notloggedin">
	<div data-role="header" data-position="inline">
    <h1>Not Logged In</h1>
    <a href="/app" class="ui-btn-left" data-icon="false" data-direction="reverse">
      Back
    </a>
  <a href="#panel" class="ui-btn-right" data-iconpos="notext" data-icon="bars" ></a>
	</div>

  <div data-role="content">
    <h3>Not Logged In</h3>
    <p>You must login to view the page.</p>

    <div data-role="popup" class="popup" id="popupLogin" data-theme="a" data-overlay-theme="a" data-transition="flow" data-position-to="window" data-history="false">
          <form id="loginform" action="/app/Student/asynchttp" method="POST">
            <div style="padding:10px 20px;">
              <h3>Please sign in</h3>
              <input type="text" name="email" id="email" placeholder="Email" data-theme="a" />
              <input type="password" name="password" id="password" placeholder="Password" data-theme="a" />
              <input type="hidden" id="previousurl" name="previousurl" value="<%= $notloggedinurl %>"/>
              <div data-icon="null" data-iconpos="null" data-theme="a">
                <button type="submit" data-theme="a">Sign in</button>
              </div>
            </div>
          </form>
    </div>
  </div>
  <script>
  $(document).one('pageshow', '#notloggedin', function() {
    setTimeout(function() {
      $('div.ui-page-active #popupLogin').popup('open');
    }, 1000);
  });
  </script>
</div>