<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @student.firstname %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @student.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">Firstname</div>
            <div class="itemValue"><%= @student.firstname %></div>
          </li>
      
          <li>
            <div class="itemLabel">Lastname</div>
            <div class="itemValue"><%= @student.lastname %></div>
          </li>
      
          <li>
            <div class="itemLabel">Studentidnumber</div>
            <div class="itemValue"><%= @student.studentidnumber %></div>
          </li>
      
          <li>
            <div class="itemLabel">Email</div>
            <div class="itemValue"><%= @student.email %></div>
          </li>
      
          <li>
            <div class="itemLabel">Searchable</div>
            <div class="itemValue"><%= @student.searchable %></div>
          </li>
      
          <li>
            <div class="itemLabel">RegtimeId</div>
            <div class="itemValue"><%= @student.regtime_id %></div>
          </li>
      
    </ul>
  </div>

</div>
