<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @student.firstname %></h1>
    <%= link_to "Edit", :action => :edit, :id => @student.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Firstname</td>
        <td class="itemValue"><%= @student.firstname%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Lastname</td>
        <td class="itemValue"><%= @student.lastname%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Studentidnumber</td>
        <td class="itemValue"><%= @student.studentidnumber%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Email</td>
        <td class="itemValue"><%= @student.email%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Searchable</td>
        <td class="itemValue"><%= @student.searchable%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">RegtimeId</td>
        <td class="itemValue"><%= @student.regtime_id%></td>
      </tr>
      
    </table>
  </div>

</div>
