<div data-role="page" id="wait">

	<div data-role="header" data-position="inline">
    <h1 id="waitmsg">Please wait...</h1>
	</div>

  <div data-role="content" id="content">
		<div id="loginmsg"><%= @message %></div>
  </div>
  <script>
  	$(document).on('pageshow', function() {
  		$.mobile.loading('show');
  	});
  </script>
</div>
