<div data-role="page" id="coursesbyletter" class="swipepage">

	<%= AppApplication.get_panel %>
	
	<div data-role="header" data-position="inline">
    <h1><%= @letter %></h1>
    <a href="/app/Course/listmethods" id="backbutton" class="ui-btn-left" data-icon="false" data-direction="reverse">
      Back
    </a>
		<a href="#panel" data-reveal="overlay" data-dismissible="true" class="ui-btn-right" data-iconpos="notext" data-icon="bars"></a>
	</div>

  <div data-role="content">
    <input id="firstletter" type="hidden" value="<%= @letter %>" />
    <ul data-role="listview" id="coursebyletterlist" data-filter="true" data-filter-placeholder="Filter Courses..." data-autodividers="true">
    </ul>

    <%= AppApplication.get_loginpopup %>
		
  </div>
  <script>
  $(document).one('pageshow', '#coursesbyletter', function() {
    $.mobile.loading('show');
    var letter = $('#firstletter').val();
    console.log('page show');
    $('coursebyletterlist').empty();
    getCourses(letter);
  });

  function prepFastClick() {
  $('ul#coursebyletterlist a').fastClick(function(e) {
  console.log('fastclick');
  e.preventDefault();
  var url = $(this).attr('href');
  var specifieddirection = $(this).data('direction');
  var reverse;
  if (specifieddirection == 'reverse') {
    reverse = true;
  } else {
    reverse = false;
  }

  $.mobile.changePage( url, {
    transition: "slide",
    reverse: reverse
  });
  });
  }

  function getCourses(letter) {
      var url = "http://prowebdesigns.org:3000/courses/byletter?firstletter=" + letter;
      $.getJSON(url, function(data) {
        console.log('got courses by letter from ' + url);
        $('#coursebyletterlist').append(data['courses']['htmlstring']).listview({
          autodividers: true,
          autodividersSelector: function(li) {
            var out = li.attr('data-department-name');
            return out;
          }
        }).listview('refresh');

        prepFastClick();
        $.mobile.loading('hide');
      });
  }
  </script>
</div>