<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @course.object %>
    <h1>Edit <%= @course.crn%></h1>
    <%= link_to "Delete", :action => :delete, :id => @course.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @course.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Crn: </td>
              <td class="itemValue"><input type="text" name="course[crn]" value="<%= @course.crn %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Subject: </td>
              <td class="itemValue"><input type="text" name="course[subject]" value="<%= @course.subject %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Course: </td>
              <td class="itemValue"><input type="text" name="course[course]" value="<%= @course.course %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Credits: </td>
              <td class="itemValue"><input type="text" name="course[credits]" value="<%= @course.credits %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Title: </td>
              <td class="itemValue"><input type="text" name="course[title]" value="<%= @course.title %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
