<div data-role="page" id="courses" class="swipepage">

	<%= AppApplication.get_panel %>
	
	<div data-role="header" data-position="inline">
    <h1>Courses</h1>
    <a href="/app" id="backbutton" class="ui-btn-left" data-icon="false" data-direction="reverse">
      Back
    </a>
		<a href="#panel" data-reveal="overlay" data-dismissible="true" class="ui-btn-right" data-iconpos="notext" data-icon="bars"></a>
	</div>

  <div data-role="content">
    <ul data-role="listview" id="courselist" data-filter="true" data-filter-placeholder="Filter Courses..." data-autodividers="true">
    </ul>

    <%= AppApplication.get_loginpopup %>
		
  </div>
</div>
