<div data-role="page" id="listmethods" class="swipepage">

	<%= AppApplication.get_panel %>
	
	<div data-role="header" data-position="inline">
    <h1>Courses</h1>
    <a href="/app" class="ui-btn-left" data-icon="false" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Back
    </a>
		<a href="#panel" data-reveal="overlay" data-dismissible="true" class="ui-btn-right" data-iconpos="notext" data-icon="bars"></a>
	</div>

  <div data-role="content">
    <form id="dontsubmit" class="ui-listview-filter ui-bar-c" role="search">
        <input type="search" placeholder="Search Courses..." id="searchcourses" value="">
    </form>
    <ul data-role="listview" id="letterlist" data-autodividers="false">
      <li><a href="/app/Course/byletter?firstletter=A">A</a></li>
      <li><a href="/app/Course/byletter?firstletter=B">B</a></li>
      <li><a href="/app/Course/byletter?firstletter=C">C</a></li>
      <li><a href="/app/Course/byletter?firstletter=D">D</a></li>
      <li><a href="/app/Course/byletter?firstletter=E">E</a></li>
      <li><a href="/app/Course/byletter?firstletter=F">F</a></li>
      <li><a href="/app/Course/byletter?firstletter=G">G</a></li>
      <li><a href="/app/Course/byletter?firstletter=H">H</a></li>
      <li><a href="/app/Course/byletter?firstletter=I">I</a></li>
      <li><a href="/app/Course/byletter?firstletter=J">J</a></li>
      <li><a href="/app/Course/byletter?firstletter=K">K</a></li>
      <li><a href="/app/Course/byletter?firstletter=L">L</a></li>
      <li><a href="/app/Course/byletter?firstletter=M">M</a></li>
      <li><a href="/app/Course/byletter?firstletter=N">N</a></li>
      <li><a href="/app/Course/byletter?firstletter=O">O</a></li>
      <li><a href="/app/Course/byletter?firstletter=P">P</a></li>
      <li><a href="/app/Course/byletter?firstletter=Q">Q</a></li>
      <li><a href="/app/Course/byletter?firstletter=R">R</a></li>
      <li><a href="/app/Course/byletter?firstletter=S">S</a></li>
      <li><a href="/app/Course/byletter?firstletter=T">T</a></li>
      <li><a href="/app/Course/byletter?firstletter=U">U</a></li>
      <li><a href="/app/Course/byletter?firstletter=V">V</a></li>
      <li><a href="/app/Course/byletter?firstletter=W">W</a></li>
      <li><a href="/app/Course/byletter?firstletter=X">X</a></li>
      <li><a href="/app/Course/byletter?firstletter=Y">Y</a></li>
      <li><a href="/app/Course/byletter?firstletter=Z">Z</a></li>
    </ul>
	
	<%= AppApplication.get_loginpopup %>

		
  </div>
<script>
  var lettershtml;

  $(document).one('pageshow', function() {
    prepFastClick();
    lettershtml = $('ul#letterlist > *');

    prepareSearch();
    $('#dontsubmit').submit(function() {
      return false;
    });
  });

  function prepFastClick() {
      $('ul#letterlist a').fastClick(function(e) {
        console.log('fastclick');
        e.preventDefault();
        var url = $(this).attr('href');
        var specifieddirection = $(this).data('direction');
        var reverse;
        if (specifieddirection == 'reverse') {
          reverse = true;
        } else {
          reverse = false;
        }

        $.mobile.changePage( url, {
          transition: "slide",
          reverse: reverse
        });
      });
    }

  function reinitialize() {
      $('div.ui-page-active ul#letterlist').empty().html(lettershtml).listview('refresh');
  }

  function prepareSearch(event) {
    $('#searchcourses').unbind('blur').on('blur', function() {
      $(this).parent('.ui-input-search').removeClass('ui-focus');
      performSearch($(this).val());
    });

    $("#searchcourses").keyup(function (e) {
      if (e.keyCode == 13) {
        $(this).blur();
      }
    });

    $('#dontsubmit .ui-input-clear').unbind('click').on('click', function() {
      reinitialize();
      $('#dontsubmit .ui-input-clear').addClass('ui-input-clear-hidden');
      $('#searchcourses').val('');
    });
  }

  function performSearch(query) {

    if (query == "") {
      console.log('null query');
    }
    else {
      $.mobile.loading('show');

      $('div.ui-page-active ul#letterlist').empty();
      var url = "http://prowebdesigns.org:3000/courses/search?query=" + query;
      console.log(url);
      $.getJSON(url, function(data) {
        $('ul#letterlist').empty().append(data['courses']['htmlstring']);
        $('ul#letterlist').listview('refresh');
        $.mobile.loading('hide');
      });
    }
  }
</script>
</div>
