<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1>New Course</h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @course.object %>"/>
      <table>
          
            <tr>
                <td class="itemLabel">Crn: </td>
                <td class="itemValue"><input type="text" name="course[crn]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Subject: </td>
                <td class="itemValue"><input type="text" name="course[subject]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Course: </td>
                <td class="itemValue"><input type="text" name="course[course]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Credits: </td>
                <td class="itemValue"><input type="text" name="course[credits]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Title: </td>
                <td class="itemValue"><input type="text" name="course[title]"/></td>
            </tr>
          
      </table>
      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
