<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @course.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @course.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="course[crn]" class="fieldLabel">Crn</label>
            <input type="text" id="course[crn]" name="course[crn]" <%= placeholder("Crn") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="course[subject]" class="fieldLabel">Subject</label>
            <input type="text" id="course[subject]" name="course[subject]" <%= placeholder("Subject") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="course[course]" class="fieldLabel">Course</label>
            <input type="text" id="course[course]" name="course[course]" <%= placeholder("Course") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="course[credits]" class="fieldLabel">Credits</label>
            <input type="text" id="course[credits]" name="course[credits]" <%= placeholder("Credits") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="course[title]" class="fieldLabel">Title</label>
            <input type="text" id="course[title]" name="course[title]" <%= placeholder("Title") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
