<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @course.crn %></h1>
    <%= link_to "Edit", :action => :edit, :id => @course.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Crn</td>
        <td class="itemValue"><%= @course.crn%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Subject</td>
        <td class="itemValue"><%= @course.subject%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Course</td>
        <td class="itemValue"><%= @course.course%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Credits</td>
        <td class="itemValue"><%= @course.credits%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Title</td>
        <td class="itemValue"><%= @course.title%></td>
      </tr>
      
    </table>
  </div>

</div>
