<div data-role="page" data-add-back-btn="false" id="showCourse" class="swipepage">
	<%= AppApplication.get_panel %>

  <div data-role="header" data-position="inline">
    <h1 id="showtitle"></h1>
    <a id="backbutton" href="<%= url_for :controller => :Department, :action => :index %>" class="ui-btn-left" data-icon="false" data-direction="reverse">
      Back
    </a>
		<a href="#panel" data-reveal="overlay" data-dismissible="true" class="ui-btn-right" data-iconpos="notext" data-icon="bars"></a>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-filter-placeholder="Filter Courses..." id="courseshowlist" data-filter="true" data-autodividers="true">
    </ul>
	<%= AppApplication.get_loginpopup %>
	
  </div>
</div>
