<div id="waitpage" data-role="page">
<!-- data-rho-wait-page="true" -->
  <div data-role="header" data-position="inline">
    <h1>Courses</h1>
  </div>
  <div id="content" data-role="content" style="text-align:center;">
    <p><%= $loadingMessage %></p>
  </div>
</div>
