a {
    text-decoration: none;
}

body {
    margin: 0;
    height: 100%;
    width: inherit;
    font-family: "Droid", sans-serif;
    background: black !important;
    color: white;
}

h1 {
    font-size: 1em;
}

div.itemLabel {
    font-weight: bold;
}
div.itemValue {
    font-weight: normal;
}

/*HOLO THEME
.ui-bar-a{border:1px solid #5c5c5c ;background:#222222 ;color:#ffffff ;font-weight:bold;text-shadow:0  0  0  #ffffff ;background-image:-webkit-gradient(linear,left top,left bottom,from( #222222 ),to( #222222 )); background-image:-webkit-linear-gradient( #222222,#222222 ); background-image:   -moz-linear-gradient( #222222,#222222 ); background-image:    -ms-linear-gradient( #222222,#222222 ); background-image:     -o-linear-gradient( #222222,#222222 ); background-image:        linear-gradient( #222222,#222222 );}.ui-bar-a .ui-link-inherit{color:#ffffff ;}.ui-bar-a a.ui-link{color:#7cc4e7 ;font-weight:bold;}.ui-bar-a a.ui-link:visited{   color:#2489CE ;}.ui-bar-a a.ui-link:hover{color:#2489CE ;}.ui-bar-a a.ui-link:active{color:#2489CE ;}.ui-bar-a,.ui-bar-a input,.ui-bar-a select,.ui-bar-a textarea,.ui-bar-a button{font-family:RobotoThin,Helvetica,Arial,sans-serif ;}.ui-body-a,.ui-overlay-a{border:1px solid #555555 ;color:#ffffff ;text-shadow:0  0  0  #ffffff ;background:#000000 ;background-image:-webkit-gradient(linear,left top,left bottom,from( #000000 ),to( #000000 )); background-image:-webkit-linear-gradient( #000000,#000000 ); background-image:   -moz-linear-gradient( #000000,#000000 ); background-image:    -ms-linear-gradient( #000000,#000000 ); background-image:     -o-linear-gradient( #000000,#000000 ); background-image:        linear-gradient( #000000,#000000 );}.ui-overlay-a{background-image:none;border-width:0;}.ui-body-a,.ui-body-a input,.ui-body-a select,.ui-body-a textarea,.ui-body-a button{font-family:RobotoThin,Helvetica,Arial,sans-serif ;}.ui-body-a .ui-link-inherit{color:#ffffff ;}.ui-body-a .ui-link{color:#33B5E5 ;font-weight:bold;}.ui-body-a .ui-link:visited{   color:#2489CE ;}.ui-body-a .ui-link:hover{color:#2489CE ;}.ui-body-a .ui-link:active{color:#2489CE ;}.ui-btn-up-a{border:1px solid #222222 ;background:#555555 ;font-weight:bold;color:#ffffff ;text-shadow:0  0  0  #ffffff ;background-image:-webkit-gradient(linear,left top,left bottom,from( #555555 ),to( #555555 )); background-image:-webkit-linear-gradient( #555555,#555555 ); background-image:   -moz-linear-gradient( #555555,#555555 ); background-image:    -ms-linear-gradient( #555555,#555555 ); background-image:     -o-linear-gradient( #555555,#555555 ); background-image:        linear-gradient( #555555,#555555 );}.ui-btn-up-a:visited,.ui-btn-up-a a.ui-link-inherit{color:#ffffff ;}.ui-btn-hover-a{border:1px solid #222222 ;background:#555555 ;font-weight:bold;color:#ffffff ;text-shadow:0  0  0  #ffffff ;background-image:-webkit-gradient(linear,left top,left bottom,from( #555555 ),to( #555555 )); background-image:-webkit-linear-gradient( #555555,#555555 ); background-image:   -moz-linear-gradient( #555555,#555555 ); background-image:    -ms-linear-gradient( #555555,#555555 ); background-image:     -o-linear-gradient( #555555,#555555 ); background-image:        linear-gradient( #555555,#555555 );}.ui-btn-hover-a:visited,.ui-btn-hover-a:hover,.ui-btn-hover-a a.ui-link-inherit{color:#ffffff ;}.ui-btn-down-a{border:1px solid #222222 ;background:#33B5E5 ;font-weight:bold;color:#ffffff ;text-shadow:0  0  0  #ffffff ;background-image:-webkit-gradient(linear,left top,left bottom,from( #33b5e5 ),to( #33b5e5 )); background-image:-webkit-linear-gradient( #33b5e5,#33b5e5 ); background-image:   -moz-linear-gradient( #33b5e5,#33b5e5 ); background-image:    -ms-linear-gradient( #33b5e5,#33b5e5 ); background-image:     -o-linear-gradient( #33b5e5,#33b5e5 ); background-image:        linear-gradient( #33b5e5,#33b5e5 );}.ui-btn-down-a:visited,.ui-btn-down-a:hover,.ui-btn-down-a a.ui-link-inherit{color:#ffffff ;}.ui-btn-up-a,.ui-btn-hover-a,.ui-btn-down-a{font-family:RobotoThin,Helvetica,Arial,sans-serif ;text-decoration:none;}.ui-bar-b{border:1px solid #cfcfcf ;background:#dddddd ;color:#3E3E3E ;font-weight:bold;text-shadow:0  0  0  #ffffff ;background-image:-webkit-gradient(linear,left top,left bottom,from( #dddddd ),to( #dddddd )); background-image:-webkit-linear-gradient( #dddddd,#dddddd ); background-image:   -moz-linear-gradient( #dddddd,#dddddd ); background-image:    -ms-linear-gradient( #dddddd,#dddddd ); background-image:     -o-linear-gradient( #dddddd,#dddddd ); background-image:        linear-gradient( #dddddd,#dddddd );}.ui-bar-b .ui-link-inherit{color:#3E3E3E ;}.ui-bar-b a.ui-link{color:#7cc4e7 ;font-weight:bold;}.ui-bar-b a.ui-link:visited{   color:#2489CE ;}.ui-bar-b a.ui-link:hover{color:#2489CE ;}.ui-bar-b a.ui-link:active{color:#2489CE ;}.ui-bar-b,.ui-bar-b input,.ui-bar-b select,.ui-bar-b textarea,.ui-bar-b button{font-family:RobotoThin,Helvetica,Arial,sans-serif ;}.ui-body-b,.ui-overlay-b{border:1px solid #555555 ;color:#3E3E3E ;text-shadow:0  0  0  #ffffff ;background:#f3f3f3 ;background-image:-webkit-gradient(linear,left top,left bottom,from( #f3f3f3 ),to( #f3f3f3 )); background-image:-webkit-linear-gradient( #f3f3f3,#f3f3f3 ); background-image:   -moz-linear-gradient( #f3f3f3,#f3f3f3 ); background-image:    -ms-linear-gradient( #f3f3f3,#f3f3f3 ); background-image:     -o-linear-gradient( #f3f3f3,#f3f3f3 ); background-image:        linear-gradient( #f3f3f3,#f3f3f3 );}.ui-overlay-b{background-image:none;border-width:0;}.ui-body-b,.ui-body-b input,.ui-body-b select,.ui-body-b textarea,.ui-body-b button{font-family:RobotoThin,Helvetica,Arial,sans-serif ;}.ui-body-b .ui-link-inherit{color:#3E3E3E ;}.ui-body-b .ui-link{color:#33B5E5 ;font-weight:bold;}.ui-body-b .ui-link:visited{   color:#2489CE ;}.ui-body-b .ui-link:hover{color:#2489CE ;}.ui-body-b .ui-link:active{color:#2489CE ;}.ui-btn-up-b{border:1px solid #cfcfcf ;background:#dddddd ;font-weight:bold;color:#3E3E3E ;text-shadow:0  0  0  #ffffff ;background-image:-webkit-gradient(linear,left top,left bottom,from( #dddddd ),to( #dddddd )); background-image:-webkit-linear-gradient( #dddddd,#dddddd ); background-image:   -moz-linear-gradient( #dddddd,#dddddd ); background-image:    -ms-linear-gradient( #dddddd,#dddddd ); background-image:     -o-linear-gradient( #dddddd,#dddddd ); background-image:        linear-gradient( #dddddd,#dddddd );}.ui-btn-up-b:visited,.ui-btn-up-b a.ui-link-inherit{color:#3E3E3E ;}.ui-btn-hover-b{border:1px solid #cfcfcf ;background:#dddddd ;font-weight:bold;color:#3E3E3E ;text-shadow:0  0  0  #ffffff ;background-image:-webkit-gradient(linear,left top,left bottom,from( #dddddd ),to( #dddddd )); background-image:-webkit-linear-gradient( #dddddd,#dddddd ); background-image:   -moz-linear-gradient( #dddddd,#dddddd ); background-image:    -ms-linear-gradient( #dddddd,#dddddd ); background-image:     -o-linear-gradient( #dddddd,#dddddd ); background-image:        linear-gradient( #dddddd,#dddddd );}.ui-btn-hover-b:visited,.ui-btn-hover-b:hover,.ui-btn-hover-b a.ui-link-inherit{color:#3E3E3E ;}.ui-btn-down-b{border:1px solid #cfcfcf ;background:#33B5E5 ;font-weight:bold;color:#3E3E3E ;text-shadow:0  0  0  #ffffff ;background-image:-webkit-gradient(linear,left top,left bottom,from( #33b5e5 ),to( #33b5e5 )); background-image:-webkit-linear-gradient( #33b5e5,#33b5e5 ); background-image:   -moz-linear-gradient( #33b5e5,#33b5e5 ); background-image:    -ms-linear-gradient( #33b5e5,#33b5e5 ); background-image:     -o-linear-gradient( #33b5e5,#33b5e5 ); background-image:        linear-gradient( #33b5e5,#33b5e5 );}.ui-btn-down-b:visited,.ui-btn-down-b:hover,.ui-btn-down-b a.ui-link-inherit{color:#3E3E3E ;}.ui-btn-up-b,.ui-btn-hover-b,.ui-btn-down-b{font-family:RobotoThin,Helvetica,Arial,sans-serif ;text-decoration:none;}.ui-bar-c{border:1px solid #222222 ;background:#222222 ;color:#ffffff ;font-weight:bold;text-shadow:0  0  0  #ffffff ;background-image:-webkit-gradient(linear,left top,left bottom,from( #222222 ),to( #222222 )); background-image:-webkit-linear-gradient( #222222,#222222 ); background-image:   -moz-linear-gradient( #222222,#222222 ); background-image:    -ms-linear-gradient( #222222,#222222 ); background-image:     -o-linear-gradient( #222222,#222222 ); background-image:        linear-gradient( #222222,#222222 );}.ui-bar-c .ui-link-inherit{color:#ffffff ;}.ui-bar-c a.ui-link{color:#7cc4e7 ;font-weight:bold;}.ui-bar-c a.ui-link:visited{   color:#2489CE ;}.ui-bar-c a.ui-link:hover{color:#2489CE ;}.ui-bar-c a.ui-link:active{color:#2489CE ;}.ui-bar-c,.ui-bar-c input,.ui-bar-c select,.ui-bar-c textarea,.ui-bar-c button{font-family:RobotoThin,Helvetica,Arial,sans-serif ;}.ui-body-c,.ui-overlay-c{border:1px solid #555555 ;color:#3E3E3E ;text-shadow:0  0  0  #ffffff ;background:#f3f3f3 ;background-image:-webkit-gradient(linear,left top,left bottom,from( #f3f3f3 ),to( #f3f3f3 )); background-image:-webkit-linear-gradient( #f3f3f3,#f3f3f3 ); background-image:   -moz-linear-gradient( #f3f3f3,#f3f3f3 ); background-image:    -ms-linear-gradient( #f3f3f3,#f3f3f3 ); background-image:     -o-linear-gradient( #f3f3f3,#f3f3f3 ); background-image:        linear-gradient( #f3f3f3,#f3f3f3 );}.ui-overlay-c{background-image:none;border-width:0;}.ui-body-c,.ui-body-c input,.ui-body-c select,.ui-body-c textarea,.ui-body-c button{font-family:RobotoThin,Helvetica,Arial,sans-serif ;}.ui-body-c .ui-link-inherit{color:#3E3E3E ;}.ui-body-c .ui-link{color:#33B5E5 ;font-weight:bold;}.ui-body-c .ui-link:visited{   color:#2489CE ;}.ui-body-c .ui-link:hover{color:#2489CE ;}.ui-body-c .ui-link:active{color:#2489CE ;}.ui-btn-up-c{border:1px solid #cfcfcf ;background:#dddddd ;font-weight:bold;color:#3E3E3E ;text-shadow:0  0  0  #ffffff ;background-image:-webkit-gradient(linear,left top,left bottom,from( #dddddd ),to( #dddddd )); background-image:-webkit-linear-gradient( #dddddd,#dddddd ); background-image:   -moz-linear-gradient( #dddddd,#dddddd ); background-image:    -ms-linear-gradient( #dddddd,#dddddd ); background-image:     -o-linear-gradient( #dddddd,#dddddd ); background-image:        linear-gradient( #dddddd,#dddddd );}.ui-btn-up-c:visited,.ui-btn-up-c a.ui-link-inherit{color:#3E3E3E ;}.ui-btn-hover-c{border:1px solid #cfcfcf ;background:#dddddd ;font-weight:bold;color:#3E3E3E ;text-shadow:0  0  0  #ffffff ;background-image:-webkit-gradient(linear,left top,left bottom,from( #dddddd ),to( #dddddd )); background-image:-webkit-linear-gradient( #dddddd,#dddddd ); background-image:   -moz-linear-gradient( #dddddd,#dddddd ); background-image:    -ms-linear-gradient( #dddddd,#dddddd ); background-image:     -o-linear-gradient( #dddddd,#dddddd ); background-image:        linear-gradient( #dddddd,#dddddd );}.ui-btn-hover-c:visited,.ui-btn-hover-c:hover,.ui-btn-hover-c a.ui-link-inherit{color:#3E3E3E ;}.ui-btn-down-c{border:1px solid #cfcfcf ;background:#33B5E5 ;font-weight:bold;color:#3E3E3E ;text-shadow:0  0  0  #ffffff ;background-image:-webkit-gradient(linear,left top,left bottom,from( #33b5e5 ),to( #33b5e5 )); background-image:-webkit-linear-gradient( #33b5e5,#33b5e5 ); background-image:   -moz-linear-gradient( #33b5e5,#33b5e5 ); background-image:    -ms-linear-gradient( #33b5e5,#33b5e5 ); background-image:     -o-linear-gradient( #33b5e5,#33b5e5 ); background-image:        linear-gradient( #33b5e5,#33b5e5 );}.ui-btn-down-c:visited,.ui-btn-down-c:hover,.ui-btn-down-c a.ui-link-inherit{color:#3E3E3E ;}.ui-btn-up-c,.ui-btn-hover-c,.ui-btn-down-c{font-family:RobotoThin,Helvetica,Arial,sans-serif ;text-decoration:none;}a.ui-link-inherit{text-decoration:none !important;}.ui-btn-active{border:1px solid #33B5E5; ;background:#33B5E5 ;font-weight:bold;color:#3E3E3E ;cursor:pointer;text-shadow:0  0  0  #33B5E5 ;text-decoration:none;background-image:-webkit-gradient(linear,left top,left bottom,from( #33b5e5 ),to( #33b5e5 )); background-image:-webkit-linear-gradient( #33b5e5,#33b5e5 ); background-image:   -moz-linear-gradient( #33b5e5,#33b5e5 ); background-image:    -ms-linear-gradient( #33b5e5,#33b5e5 ); background-image:     -o-linear-gradient( #33b5e5,#33b5e5 ); background-image:        linear-gradient( #33b5e5,#33b5e5 ); font-family:RobotoThin,Helvetica,Arial,sans-serif ;}.ui-btn-active:visited,.ui-btn-active:hover,.ui-btn-active a.ui-link-inherit{color:#3E3E3E ;}.ui-btn-inner{border-top:1px solid #fff;border-color:rgba(255,255,255,.3);}.ui-corner-tl{-moz-border-radius-topleft:0 ;-webkit-border-top-left-radius:0 ;border-top-left-radius:0 ;}.ui-corner-tr{-moz-border-radius-topright:0 ;-webkit-border-top-right-radius:0 ;border-top-right-radius:0 ;}.ui-corner-bl{-moz-border-radius-bottomleft:0 ;-webkit-border-bottom-left-radius:0 ;border-bottom-left-radius:0 ;}.ui-corner-br{-moz-border-radius-bottomright:0 ;-webkit-border-bottom-right-radius:0 ;border-bottom-right-radius:0 ;}.ui-corner-top{-moz-border-radius-topleft:0 ;-webkit-border-top-left-radius:0 ;border-top-left-radius:0 ;-moz-border-radius-topright:0 ;-webkit-border-top-right-radius:0 ;border-top-right-radius:0 ;}.ui-corner-bottom{-moz-border-radius-bottomleft:0 ;-webkit-border-bottom-left-radius:0 ;border-bottom-left-radius:0 ;-moz-border-radius-bottomright:0 ;-webkit-border-bottom-right-radius:0 ;border-bottom-right-radius:0 ;}.ui-corner-right{-moz-border-radius-topright:0 ;-webkit-border-top-right-radius:0 ;border-top-right-radius:0 ;-moz-border-radius-bottomright:0 ;-webkit-border-bottom-right-radius:0 ;border-bottom-right-radius:0 ;}.ui-corner-left{-moz-border-radius-topleft:0 ;-webkit-border-top-left-radius:0 ;border-top-left-radius:0 ;-moz-border-radius-bottomleft:0 ;-webkit-border-bottom-left-radius:0 ;border-bottom-left-radius:0 ;}.ui-corner-all{-moz-border-radius:0 ;-webkit-border-radius:0 ;border-radius:0 ;}.ui-corner-none{-moz-border-radius:   0;-webkit-border-radius:   0;border-radius:   0;}.ui-br{border-bottom:rgb(130,130,130);border-bottom:rgba(130,130,130,.3);border-bottom-width:1px;border-bottom-style:solid;}.ui-disabled{filter:Alpha(Opacity=30);opacity:.3;zoom:1;}.ui-disabled,.ui-disabled a{cursor:default !important;pointer-events:none;}.ui-icon,.ui-icon-searchfield:after{background:#FFFFFF ;background:rgba(0,0,0,0.4) ;background-image:url(images/icons-18-white.png) ;background-repeat:no-repeat;-moz-border-radius:9px;-webkit-border-radius:9px;border-radius:9px;}.ui-icon-alt{background:#fff;background:rgba(255,255,255,.3);background-image:url(images/icons-18-black.png);background-repeat:no-repeat;}@media only screen and (-webkit-min-device-pixel-ratio:1.5),      only screen and (min--moz-device-pixel-ratio:1.5),      only screen and (min-resolution:240dpi){.ui-icon-plus,.ui-icon-minus,.ui-icon-delete,.ui-icon-arrow-r,.ui-icon-arrow-l,.ui-icon-arrow-u,.ui-icon-arrow-d,.ui-icon-check,.ui-icon-gear,.ui-icon-refresh,.ui-icon-forward,.ui-icon-back,.ui-icon-grid,.ui-icon-star,.ui-icon-alert,.ui-icon-info,.ui-icon-home,.ui-icon-search,.ui-icon-searchfield:after,.ui-icon-checkbox-off,.ui-icon-checkbox-on,.ui-icon-radio-off,.ui-icon-radio-on{background-image:url(images/icons-36-white.png);-moz-background-size:776px 18px;-o-background-size:776px 18px;-webkit-background-size:776px 18px;background-size:776px 18px;}.ui-icon-alt{background-image:url(images/icons-36-black.png);}}.ui-icon-plus{background-position:-0 50%;}.ui-icon-minus{background-position:-36px 50%;}.ui-icon-delete{background-position:-72px 50%;}.ui-icon-arrow-r{background-position:-108px 50%;}.ui-icon-arrow-l{background-position:-144px 50%;}.ui-icon-arrow-u{background-position:-180px 50%;}.ui-icon-arrow-d{background-position:-216px 50%;}.ui-icon-check{background-position:-252px 50%;}.ui-icon-gear{background-position:-288px 50%;}.ui-icon-refresh{background-position:-324px 50%;}.ui-icon-forward{background-position:-360px 50%;}.ui-icon-back{background-position:-396px 50%;}.ui-icon-grid{background-position:-432px 50%;}.ui-icon-star{background-position:-468px 50%;}.ui-icon-alert{background-position:-504px 50%;}.ui-icon-info{background-position:-540px 50%;}.ui-icon-home{background-position:-576px 50%;}.ui-icon-search,.ui-icon-searchfield:after{background-position:-612px 50%;}.ui-icon-checkbox-off{background-position:-684px 50%;}.ui-icon-checkbox-on{background-position:-648px 50%;}.ui-icon-radio-off{background-position:-756px 50%;}.ui-icon-radio-on{background-position:-720px 50%;}.ui-checkbox .ui-icon,.ui-selectmenu-list .ui-icon{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}.ui-icon-checkbox-off,.ui-icon-radio-off{background-color:transparent;}.ui-checkbox-on .ui-icon,.ui-radio-on .ui-icon{background-color:#33B5E5 ; }.ui-icon-loading{background:url(images/ajax-loader.gif);background-size:46px 46px;}.ui-btn-corner-tl{-moz-border-radius-topleft:0 ;-webkit-border-top-left-radius:0 ;border-top-left-radius:0 ;}.ui-btn-corner-tr{-moz-border-radius-topright:0 ;-webkit-border-top-right-radius:0 ;border-top-right-radius:0 ;}.ui-btn-corner-bl{-moz-border-radius-bottomleft:0 ;-webkit-border-bottom-left-radius:0 ;border-bottom-left-radius:0 ;}.ui-btn-corner-br{-moz-border-radius-bottomright:0 ;-webkit-border-bottom-right-radius:0 ;border-bottom-right-radius:0 ;}.ui-btn-corner-top{-moz-border-radius-topleft:0 ;-webkit-border-top-left-radius:0 ;border-top-left-radius:0 ;-moz-border-radius-topright:0 ;-webkit-border-top-right-radius:0 ;border-top-right-radius:0 ;}.ui-btn-corner-bottom{-moz-border-radius-bottomleft:0 ;-webkit-border-bottom-left-radius:0 ;border-bottom-left-radius:0 ;-moz-border-radius-bottomright:0 ;-webkit-border-bottom-right-radius:0 ;border-bottom-right-radius:0 ;}.ui-btn-corner-right{-moz-border-radius-topright:0 ;-webkit-border-top-right-radius:0 ;border-top-right-radius:0 ;-moz-border-radius-bottomright:0 ;-webkit-border-bottom-right-radius:0 ;border-bottom-right-radius:0 ;}.ui-btn-corner-left{-moz-border-radius-topleft:0 ;-webkit-border-top-left-radius:0 ;border-top-left-radius:0 ;-moz-border-radius-bottomleft:0 ;-webkit-border-bottom-left-radius:0 ;border-bottom-left-radius:0 ;}.ui-btn-corner-all{-moz-border-radius:0 ;-webkit-border-radius:0 ;border-radius:0 ;}.ui-corner-tl,.ui-corner-tr,.ui-corner-bl,.ui-corner-br,.ui-corner-top,.ui-corner-bottom,.ui-corner-right,.ui-corner-left,.ui-corner-all,.ui-btn-corner-tl,.ui-btn-corner-tr,.ui-btn-corner-bl,.ui-btn-corner-br,.ui-btn-corner-top,.ui-btn-corner-bottom,.ui-btn-corner-right,.ui-btn-corner-left,.ui-btn-corner-all{ -webkit-background-clip:padding-box;     -moz-background-clip:padding;          background-clip:padding-box;}.ui-overlay{background:#666;filter:Alpha(Opacity=50);opacity:.5;position:absolute;width:100%;height:100%;}.ui-overlay-shadow{-moz-box-shadow:0px 0px 12px rgba(0,0,0,.6);-webkit-box-shadow:0px 0px 12px rgba(0,0,0,.6);box-shadow:0px 0px 12px rgba(0,0,0,.6);}.ui-shadow{-moz-box-shadow:0px 1px 0  rgba(0,0,0,0) ;-webkit-box-shadow:0px 1px 0  rgba(0,0,0,0) ;box-shadow:0px 1px 0  rgba(0,0,0,0) ;}.ui-bar-a .ui-shadow,.ui-bar-b .ui-shadow,.ui-bar-c .ui-shadow {-moz-box-shadow:0px 1px 0 rgba(255,255,255,.3);-webkit-box-shadow:0px 1px 0 rgba(255,255,255,.3);box-shadow:0px 1px 0 rgba(255,255,255,.3);}.ui-shadow-inset{-moz-box-shadow:inset 0px 1px 4px rgba(0,0,0,.2);-webkit-box-shadow:inset 0px 1px 4px rgba(0,0,0,.2);box-shadow:inset 0px 1px 4px rgba(0,0,0,.2);}.ui-icon-shadow{-moz-box-shadow:0px 1px 0 rgba(255,255,255,.4) ;-webkit-box-shadow:0px 1px 0 rgba(255,255,255,.4) ;box-shadow:0px 1px 0 rgba(255,255,255,.4) ;}.ui-btn:focus,.ui-link-inherit:focus{outline:0;}.ui-btn.ui-focus{z-index:1;}.ui-focus,.ui-btn:focus{-moz-box-shadow:inset 0px 0px 3px #33B5E5,0px 0px 9px #33B5E5 ;-webkit-box-shadow:inset 0px 0px 3px #33B5E5,0px 0px 9px #33B5E5 ;box-shadow:inset 0px 0px 3px #33B5E5,0px 0px 9px #33B5E5 ;}.ui-input-text.ui-focus,.ui-input-search.ui-focus{-moz-box-shadow:0px 0px 12px #33B5E5 ;-webkit-box-shadow:0px 0px 12px #33B5E5 ;box-shadow:0px 0px 12px #33B5E5 ;}.ui-mobile-nosupport-boxshadow *{-moz-box-shadow:none !important;-webkit-box-shadow:none !important;box-shadow:none !important;}.ui-mobile-nosupport-boxshadow .ui-focus,.ui-mobile-nosupport-boxshadow .ui-btn:focus,.ui-mobile-nosupport-boxshadow .ui-link-inherit:focus{outline-width:1px;outline-style:auto;}
*/