.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.countdown-simple {
  font-size: 20px;
  background: #333;
  border-radius: 0.5em;
  padding: 0.5em 0.7em;
  color: #e9e9e9;
}

.countdown-styled div {
  display: inline-block;
  margin: 0 5px;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
  text-align: right;

  /* IE7 inline-block hack */
  *display: inline;
  *zoom: 1;
}

.countdown-styled div:first-child {
  margin-left: 0;
}

.countdown-styled div:last-child {
  margin-right: 0;
}

.countdown-styled div span {
  display: block;
  border-top: 1px solid #cecece;
  padding-top: 3px;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
}


.ui-header .ui-icon {
  background-image: url('/public/jqmobile/images/icons-18-white.png');
}

.ui-collapsible-heading-toggle .ui-icon {
    background-image: url('/public/jqmobile/images/icons-18-white.png');
}

.ui-content .ui-listview .ui-icon {
  background-image: url('/public/jqmobile/images/icons-18-black.png');
}

.ui-panel .ui-icon {
  background-image: url('/public/jqmobile/images/icons-18-grey.png');
}


/* custom icons */
.ui-panel .ui-icon-custom-clock {
  background-image: url('/public/images/clock.png');
  background-size: 18px 18px;
}

.ui-panel .ui-icon-custom-course {
	background-image: url('/public/images/book.png');
	background-size: 18px 18px;
}

.ui-panel .ui-icon-custom-department {
  background-image: url('/public/images/department.png');
  background-size: 18px 18px;
}


#waitpage {
    background-image: url("/public/jqmobile/images/ajax-loader.gif");
    background-repeat: no-repeat;
    /*background-attachment:fixed; This setting makes gif not work on android*/ 
    background-position:center;
}

.sectionlistitem .sectionNumber {
  float : left;
  padding-right: 15px;
  font-size:24px;
}



.sectionValue { font-weight: normal !important; }

#panel .ui-panel-inner ul {
	margin-bottom: 25px;
}

.classonlist {
	position:absolute;
	background-color:blue;
	-moz-border-radius:7px;
	border-radius:7px;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #0093EA /*{a-bar-background-start}*/), to( #007dcd /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #0093EA /*{a-bar-background-start}*/, #007dcd /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #0093EA /*{a-bar-background-start}*/, #007dcd /*{a-bar-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #0093EA /*{a-bar-background-start}*/, #007dcd /*{a-bar-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #0093EA /*{a-bar-background-start}*/, #007dcd /*{a-bar-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #0093EA /*{a-bar-background-start}*/, #007dcd /*{a-bar-background-end}*/);
	border: 1px solid #044062;
	color:#fff;
	text-shadow: 0 0 !important;
	text-align:center;
}

.collapse {
position:relative;
top:0;
left:0;
}

.timeline {
	right: 15px;
	position:absolute;
}

.coursepara {
	-webkit-margin-before: 0.5em !important;
}
