<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @section.crn %></h1>
    <a href="<%= url_for :action => :show, :id => @section.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @section.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @section.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="section[crn]" class="fieldLabel">Crn</label>
            <input type="text" id="section[crn]" name="section[crn]" value="<%= @section.crn %>" <%= placeholder( "Crn" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[courseType]" class="fieldLabel">Coursetype</label>
            <input type="text" id="section[courseType]" name="section[courseType]" value="<%= @section.courseType %>" <%= placeholder( "Coursetype" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[startDate]" class="fieldLabel">Startdate</label>
            <input type="text" id="section[startDate]" name="section[startDate]" value="<%= @section.startDate %>" <%= placeholder( "Startdate" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[endDate]" class="fieldLabel">Enddate</label>
            <input type="text" id="section[endDate]" name="section[endDate]" value="<%= @section.endDate %>" <%= placeholder( "Enddate" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[capacity]" class="fieldLabel">Capacity</label>
            <input type="text" id="section[capacity]" name="section[capacity]" value="<%= @section.capacity %>" <%= placeholder( "Capacity" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[enrolled]" class="fieldLabel">Enrolled</label>
            <input type="text" id="section[enrolled]" name="section[enrolled]" value="<%= @section.enrolled %>" <%= placeholder( "Enrolled" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[days]" class="fieldLabel">Days</label>
            <input type="text" id="section[days]" name="section[days]" value="<%= @section.days %>" <%= placeholder( "Days" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[startTime]" class="fieldLabel">Starttime</label>
            <input type="text" id="section[startTime]" name="section[startTime]" value="<%= @section.startTime %>" <%= placeholder( "Starttime" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[endTime]" class="fieldLabel">Endtime</label>
            <input type="text" id="section[endTime]" name="section[endTime]" value="<%= @section.endTime %>" <%= placeholder( "Endtime" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[location]" class="fieldLabel">Location</label>
            <input type="text" id="section[location]" name="section[location]" value="<%= @section.location %>" <%= placeholder( "Location" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[instructorID]" class="fieldLabel">Instructorid</label>
            <input type="text" id="section[instructorID]" name="section[instructorID]" value="<%= @section.instructorID %>" <%= placeholder( "Instructorid" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[courseID]" class="fieldLabel">Courseid</label>
            <input type="text" id="section[courseID]" name="section[courseID]" value="<%= @section.courseID %>" <%= placeholder( "Courseid" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
