<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @section.object %>
    <h1>Edit <%= @section.crn%></h1>
    <%= link_to "Delete", :action => :delete, :id => @section.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @section.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Crn: </td>
              <td class="itemValue"><input type="text" name="section[crn]" value="<%= @section.crn %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Coursetype: </td>
              <td class="itemValue"><input type="text" name="section[courseType]" value="<%= @section.courseType %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Startdate: </td>
              <td class="itemValue"><input type="text" name="section[startDate]" value="<%= @section.startDate %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Enddate: </td>
              <td class="itemValue"><input type="text" name="section[endDate]" value="<%= @section.endDate %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Capacity: </td>
              <td class="itemValue"><input type="text" name="section[capacity]" value="<%= @section.capacity %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Enrolled: </td>
              <td class="itemValue"><input type="text" name="section[enrolled]" value="<%= @section.enrolled %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Days: </td>
              <td class="itemValue"><input type="text" name="section[days]" value="<%= @section.days %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Starttime: </td>
              <td class="itemValue"><input type="text" name="section[startTime]" value="<%= @section.startTime %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Endtime: </td>
              <td class="itemValue"><input type="text" name="section[endTime]" value="<%= @section.endTime %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Location: </td>
              <td class="itemValue"><input type="text" name="section[location]" value="<%= @section.location %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Instructorid: </td>
              <td class="itemValue"><input type="text" name="section[instructorID]" value="<%= @section.instructorID %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Courseid: </td>
              <td class="itemValue"><input type="text" name="section[courseID]" value="<%= @section.courseID %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
