<div data-role="page" id="listsections" data-icon="arrow-l" class="swipepage">
	<%= AppApplication.get_panel %>
		
	<div data-role="header" data-position="inline">
    <h1 id="coursename"></h1>
    	<a href="<%= @dcback %>" id="backbutton" data-direction="reverse" data-icon="false">Back</a>
		<a href="#panel" data-reveal="overlay" data-dismissible="true" class="ui-btn-right" data-iconpos="notext" data-icon="bars"></a>
	</div>

  <div data-role="content">
		<ul data-role="listview" data-filter-placeholder="Filter sections..." id="sectionlist" data-filter="true">
		</ul>
		<%= AppApplication.get_loginpopup %>
		
  </div>

</div>
