<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1>New Section</h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @section.object %>"/>
      <table>
          
            <tr>
                <td class="itemLabel">Crn: </td>
                <td class="itemValue"><input type="text" name="section[crn]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Coursetype: </td>
                <td class="itemValue"><input type="text" name="section[courseType]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Startdate: </td>
                <td class="itemValue"><input type="text" name="section[startDate]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Enddate: </td>
                <td class="itemValue"><input type="text" name="section[endDate]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Capacity: </td>
                <td class="itemValue"><input type="text" name="section[capacity]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Enrolled: </td>
                <td class="itemValue"><input type="text" name="section[enrolled]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Days: </td>
                <td class="itemValue"><input type="text" name="section[days]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Starttime: </td>
                <td class="itemValue"><input type="text" name="section[startTime]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Endtime: </td>
                <td class="itemValue"><input type="text" name="section[endTime]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Location: </td>
                <td class="itemValue"><input type="text" name="section[location]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Instructorid: </td>
                <td class="itemValue"><input type="text" name="section[instructorID]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Courseid: </td>
                <td class="itemValue"><input type="text" name="section[courseID]"/></td>
            </tr>
          
      </table>
      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
