<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @section.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @section.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="section[crn]" class="fieldLabel">Crn</label>
            <input type="text" id="section[crn]" name="section[crn]" <%= placeholder("Crn") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[courseType]" class="fieldLabel">Coursetype</label>
            <input type="text" id="section[courseType]" name="section[courseType]" <%= placeholder("Coursetype") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[startDate]" class="fieldLabel">Startdate</label>
            <input type="text" id="section[startDate]" name="section[startDate]" <%= placeholder("Startdate") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[endDate]" class="fieldLabel">Enddate</label>
            <input type="text" id="section[endDate]" name="section[endDate]" <%= placeholder("Enddate") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[capacity]" class="fieldLabel">Capacity</label>
            <input type="text" id="section[capacity]" name="section[capacity]" <%= placeholder("Capacity") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[enrolled]" class="fieldLabel">Enrolled</label>
            <input type="text" id="section[enrolled]" name="section[enrolled]" <%= placeholder("Enrolled") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[days]" class="fieldLabel">Days</label>
            <input type="text" id="section[days]" name="section[days]" <%= placeholder("Days") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[startTime]" class="fieldLabel">Starttime</label>
            <input type="text" id="section[startTime]" name="section[startTime]" <%= placeholder("Starttime") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[endTime]" class="fieldLabel">Endtime</label>
            <input type="text" id="section[endTime]" name="section[endTime]" <%= placeholder("Endtime") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[location]" class="fieldLabel">Location</label>
            <input type="text" id="section[location]" name="section[location]" <%= placeholder("Location") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[instructorID]" class="fieldLabel">Instructorid</label>
            <input type="text" id="section[instructorID]" name="section[instructorID]" <%= placeholder("Instructorid") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="section[courseID]" class="fieldLabel">Courseid</label>
            <input type="text" id="section[courseID]" name="section[courseID]" <%= placeholder("Courseid") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
