<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @section.crn %></h1>
    <%= link_to "Edit", :action => :edit, :id => @section.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Crn</td>
        <td class="itemValue"><%= @section.crn%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">CourseType</td>
        <td class="itemValue"><%= @section.courseType%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">StartDate</td>
        <td class="itemValue"><%= @section.startDate%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">EndDate</td>
        <td class="itemValue"><%= @section.endDate%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Capacity</td>
        <td class="itemValue"><%= @section.capacity%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Enrolled</td>
        <td class="itemValue"><%= @section.enrolled%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Days</td>
        <td class="itemValue"><%= @section.days%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">StartTime</td>
        <td class="itemValue"><%= @section.startTime%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">EndTime</td>
        <td class="itemValue"><%= @section.endTime%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Location</td>
        <td class="itemValue"><%= @section.location%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">InstructorID</td>
        <td class="itemValue"><%= @section.instructorID%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">CourseID</td>
        <td class="itemValue"><%= @section.courseID%></td>
      </tr>
      
    </table>
  </div>

</div>
