<div data-role="page" data-icon="arrow-l" id="sectionshow" class="swipepage">

	<% student = AppApplication.current_student %>
	<% tempregs = AppApplication.get_tempregs %>
	<% if student != nil %>
		<% addorremovesection = false %>
		<% removetempregid = nil %>
		<% tempregs.each do |tempreg| %>
			<% if tempreg.section_id == "#{$theid}" %>
				<% addorremovesection = true %>
				<% removetempregid = tempreg.object %>
			<% end %>
		<% end %>
	<% end %>

	<%= AppApplication.get_panel %>


  <div data-role="header" data-position="inline">
    <h1 id="sectionNum"></h1>
    <a id="backbutton" href="<%= @back %>" data-direction="reverse" data-icon="false" >Back</a>
	<a href="#panel" data-reveal="overlay" data-dismissible="true" class="ui-btn-right" data-iconpos="notext" data-icon="bars"></a>
  </div>

	<div data-role="content" id="content">
		<div data-role="collapsible" data-theme="a" data-content-theme="d" data-expanded-icon="arrow-d" data-collapsed="false" data-collapsed-icon="arrow-r">
			<h2>
				Course Information
			</h2>
			<ul data-role="listview" id="sectionshowlist">
				<li>
					<div>
						CRN: <span class="sectionValue" id="crn"></span>
					</div>
				</li>
				<li>
					<div>
						Course: <span class="sectionValue" id="course"></span>
					</div>
				</li>
				<li>
					<div>
						Title: <span class="sectionValue" id="title"></span>
					</div>
				</li>
				<li>
					<div>
						Enrollment: <span class="sectionValue" id="enrolled"></span> / <span class="sectionValue" id="capacity"></span>
					</div>
				</li>
				<li>
					<div>
						Meets: <span class="sectionValue" id="days"></span> <span class="sectionValue" id="times"></span>
					</div>
				</li>
				<li>Instructor: <span class="sectionValue" id="instructorName"></span></li>
				<li>
					<a id="deptlink" name="deptlink">Dept: <span class="sectionValue" id="dept"></span></a>
				</li>
			</ul>
		</div>
		<div id="buttoncontainer">
			<% includestring = 'section_id=>"%{section_id}"' % {section_id: $theid} %><% if addorremovesection %>
			<div id="removesectionbtn">
				<div id="removesectionlink" data-role="button" data-icon="minus" data-tempregid="<%= removetempregid %>">
					Remove
				</div>
			</div>
			<div id="addsectionbtn" style="display:none;">
				<div id="addsectionlink" data-role="button" data-icon="plus">
					Add
				</div>
			</div><% else %>
			<div id="addsectionbtn">
				<div id="addsectionlink" data-role="button" data-icon="plus">
					Add
				</div>
			</div>
			<% end %>
		</div>
		<%= AppApplication.get_loginpopup %>
	</div>
</div>
