<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @department.name %></h1>
    <a href="<%= url_for :action => :show, :id => @department.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @department.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @department.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="department[name]" class="fieldLabel">Name</label>
            <input type="text" id="department[name]" name="department[name]" value="<%= @department.name %>" <%= placeholder( "Name" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
