<div data-role="page" id="departments" class="swipepage">
	<%= AppApplication.get_panel %>
	<div data-role="header" data-position="inline">
    <h1>Departments</h1>
    <a href="/app" id="backbutton" class="ui-btn-left" data-icon="false" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Back
    </a>
		<a href="#panel" data-reveal="overlay" data-dismissible="true" class="ui-btn-right" data-iconpos="notext" data-icon="bars"></a>
	</div>

  <div data-role="content">
    <ul data-role="listview" id="deptlist" data-filter-placeholder="Filter Departments..." data-autodividers="true" data-filter="true">
    </ul>

    <%= AppApplication.get_loginpopup %>
    
  </div>
</div>
