<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @tempreg.object %>
    <h1>Edit <%= @tempreg.student_id%></h1>
    <%= link_to "Delete", :action => :delete, :id => @tempreg.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @tempreg.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Student: </td>
              <td class="itemValue"><input type="text" name="tempreg[student_id]" value="<%= @tempreg.student_id %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Section: </td>
              <td class="itemValue"><input type="text" name="tempreg[section_id]" value="<%= @tempreg.section_id %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Course: </td>
              <td class="itemValue"><input type="text" name="tempreg[course_id]" value="<%= @tempreg.course_id %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Crn: </td>
              <td class="itemValue"><input type="text" name="tempreg[CRN]" value="<%= @tempreg.CRN %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Subject: </td>
              <td class="itemValue"><input type="text" name="tempreg[subject]" value="<%= @tempreg.subject %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Title: </td>
              <td class="itemValue"><input type="text" name="tempreg[title]" value="<%= @tempreg.title %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Coursenum: </td>
              <td class="itemValue"><input type="text" name="tempreg[courseNum]" value="<%= @tempreg.courseNum %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Sectionnum: </td>
              <td class="itemValue"><input type="text" name="tempreg[sectionNum]" value="<%= @tempreg.sectionNum %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Days: </td>
              <td class="itemValue"><input type="text" name="tempreg[days]" value="<%= @tempreg.days %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Starttime: </td>
              <td class="itemValue"><input type="text" name="tempreg[startTime]" value="<%= @tempreg.startTime %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Endtime: </td>
              <td class="itemValue"><input type="text" name="tempreg[endTime]" value="<%= @tempreg.endTime %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
