<div data-role="page" id="timetable">
	<script>
	$(document).on('pageshow', function() {
		$.mobile.loading('show');
		setTimeout(function() {
			$.mobile.loading('hide');
		}, 2000);
	});
	</script>
	<style>
	li.time {
		height: 16px;
	}

	span.timetext {
		width: 75px;
		float:left;
	}

	div.timelinediv {
		background-color: #bbb;
		margin-left: 75px;
		width: auto;
		height: 1px;
		margin-top: 8px;
	}

	.swiper-container, .swiper-slide {
		height: 1100px;
		width: 95%;
	}

	.containing-element .ui-slider-switch {
		width: 90%
	}

	#removedcourses,#courseholder {
		display: none;
	}
	</style>
	<%= AppApplication.get_panel %>

	<div data-role="header" id="header" data-position="inline">
    <h1>Time Table</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" id="backbutton" class="ui-btn-left" data-icon="false" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Back
    </a>
    <a href="#panel" class="ui-btn-right" data-iconpos="notext" data-icon="bars" ></a>
	</div>
	<div data-role="content" id="content">
		<% student = AppApplication.current_student %>
		<input type="hidden" id="studentid" value="<%= student.remote_id %>"/>
		<div style="text-align:center;">
		<div class="containing-element">
			<!--<label for="flip-min">Flip switch:</label>-->
			<select id="regtoggle" data-role="slider">
				<option value="temp">Temp Registrations</option>
				<option value="reg">Registrations</option>
			</select>
		</div>
	</div>

		<div class="swiper-container">
		  <div class="swiper-wrapper">
		      <!--First Slide-->
		      <div class="swiper-slide" id="monday">
						<div class="collapse" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-r" data-iconpos="right" data-role="collapsible" data-theme="b" data-content-theme="d" data-collapsed="false">
							<h4>Monday</h4>
							<ul class="times" data-role="listview" data-inset="false">
								<li class="time"><span class="timetext">8:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">9:00am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">9:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">10:00am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">10:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">11:00am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">11:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">12:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">12:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">1:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">1:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">2:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">2:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">3:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">3:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">4:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">4:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">5:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">5:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">6:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">6:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">7:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">7:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">8:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">8:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">9:00pm</span><div class="timelinediv"></div></li>
							</ul>
						</div>
		      </div>

		      <!--Second Slide-->
		      <div class="swiper-slide" id="tuesday">
						<div class="collapse goleft" data-role="collapsible" data-theme="b" data-content-theme="d" data-collapsed="false" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-r" data-iconpos="right">
							<h4>Tuesday</h4>
							<ul class="times" data-role="listview" data-inset="false">
								<li class="time"><span class="timetext">8:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">9:00am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">9:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">10:00am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">10:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">11:00am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">11:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">12:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">12:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">1:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">1:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">2:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">2:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">3:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">3:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">4:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">4:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">5:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">5:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">6:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">6:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">7:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">7:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">8:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">8:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">9:00pm</span><div class="timelinediv"></div></li>
							</ul>
						</div>
		      </div>

		      <!--Third Slide-->
		      <div class="swiper-slide" id="wednesday">
						<div class="collapse goleft" data-role="collapsible" data-theme="b" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-r" data-iconpos="right" data-content-theme="d" data-collapsed="false">
							<h4>Wednesday</h4>
							<ul class="times" data-role="listview" data-inset="false">
								<li class="time"><span class="timetext">8:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">9:00am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">9:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">10:00am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">10:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">11:00am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">11:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">12:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">12:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">1:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">1:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">2:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">2:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">3:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">3:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">4:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">4:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">5:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">5:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">6:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">6:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">7:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">7:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">8:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">8:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">9:00pm</span><div class="timelinediv"></div></li>
							</ul>
						</div>
		      </div>
		
			    <div class="swiper-slide" id="thursday">
						<div class="collapse goleft" data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-r" data-iconpos="right" data-theme="b" data-content-theme="d" data-collapsed="false">
							<h4>Thursday</h4>
							<ul class="times" data-role="listview" data-inset="false">
								<li class="time"><span class="timetext">8:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">9:00am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">9:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">10:00am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">10:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">11:00am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">11:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">12:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">12:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">1:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">1:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">2:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">2:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">3:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">3:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">4:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">4:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">5:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">5:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">6:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">6:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">7:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">7:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">8:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">8:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">9:00pm</span><div class="timelinediv"></div></li>
							</ul>
						</div>
		      </div>
		
		      <div class="swiper-slide" id="friday">
						<div class="collapse" data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-l" data-iconpos="right" data-theme="b" data-content-theme="d" data-collapsed="false">
							<h4>Friday</h4>
							<ul class="times" data-role="listview" data-inset="false">
								<li class="time"><span class="timetext">8:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">9:00am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">9:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">10:00am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">10:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">11:00am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">11:30am</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">12:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">12:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">1:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">1:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">2:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">2:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">3:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">3:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">4:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">4:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">5:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">5:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">6:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">6:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">7:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">7:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">8:00pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">8:30pm</span><div class="timelinediv"></div></li>
								<li class="time"><span class="timetext">9:00pm</span><div class="timelinediv"></div></li>
							</ul>
						</div>
		      </div>
		  </div>
		</div>
		<p><i><b>Please note: </b>If your course's time is TBA, it will not appear on this list.</i></p>
		<div id="courseholder">
			<% @tempregs.each do |tempreg| %>
								<div class="classonlist" id="tempreg<%= tempreg.section_id %>" data-days="<%= tempreg.days %>" data-starttime="<%= tempreg.startTime %>" data-sectionid="<%= tempreg.section_id %>" data-endtime="<%= tempreg.endTime %>"><p class="coursepara"><%= tempreg.title %></p></div>
			<% end  %>
		</div>
		<div id="removedcourses">
		</div>
		<div data-role="popup" id="popupViewSection" data-theme="a" data-overlay-theme="a" data-transition="none" data-position-to="window" data-history="false">
				<div style="padding:10px 20px;">
				  <p id="popupcoursetimeinfo" style="text-align:center;"></p>
		    	</div>
		    	<div data-theme="b">
						<a id="backbuttononpopup" data-theme="a" data-inline="true" data-role="button" >Stay Here</a>
						<a id="viewsectionbutton" data-inline="true" data-theme="a" data-role="button"></a>
				</div>
		</div>
	</div>
</div>
