<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <a href="/app" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
  </div>

  <div data-role="content">
		<% student = AppApplication.current_student %>
		<% if student == nil %>
			<h3>Not Logged in</h3>
		<% else %>
			<h3><%= student.object %></h3>
		<% end %>
		
		<%= $alltempregs %>
  </div>

</div>