<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @tempreg.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @tempreg.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="tempreg[student_id]" class="fieldLabel">Student</label>
            <input type="text" id="tempreg[student_id]" name="tempreg[student_id]" <%= placeholder("Student") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tempreg[section_id]" class="fieldLabel">Section</label>
            <input type="text" id="tempreg[section_id]" name="tempreg[section_id]" <%= placeholder("Section") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tempreg[course_id]" class="fieldLabel">Course</label>
            <input type="text" id="tempreg[course_id]" name="tempreg[course_id]" <%= placeholder("Course") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tempreg[CRN]" class="fieldLabel">Crn</label>
            <input type="text" id="tempreg[CRN]" name="tempreg[CRN]" <%= placeholder("Crn") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tempreg[subject]" class="fieldLabel">Subject</label>
            <input type="text" id="tempreg[subject]" name="tempreg[subject]" <%= placeholder("Subject") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tempreg[title]" class="fieldLabel">Title</label>
            <input type="text" id="tempreg[title]" name="tempreg[title]" <%= placeholder("Title") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tempreg[courseNum]" class="fieldLabel">Coursenum</label>
            <input type="text" id="tempreg[courseNum]" name="tempreg[courseNum]" <%= placeholder("Coursenum") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tempreg[sectionNum]" class="fieldLabel">Sectionnum</label>
            <input type="text" id="tempreg[sectionNum]" name="tempreg[sectionNum]" <%= placeholder("Sectionnum") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tempreg[days]" class="fieldLabel">Days</label>
            <input type="text" id="tempreg[days]" name="tempreg[days]" <%= placeholder("Days") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tempreg[startTime]" class="fieldLabel">Starttime</label>
            <input type="text" id="tempreg[startTime]" name="tempreg[startTime]" <%= placeholder("Starttime") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tempreg[endTime]" class="fieldLabel">Endtime</label>
            <input type="text" id="tempreg[endTime]" name="tempreg[endTime]" <%= placeholder("Endtime") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
