<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1>New TempReg</h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @tempreg.object %>"/>
      <table>
          
            <tr>
                <td class="itemLabel">Student: </td>
                <td class="itemValue"><input type="text" name="tempreg[student_id]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Section: </td>
                <td class="itemValue"><input type="text" name="tempreg[section_id]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Course: </td>
                <td class="itemValue"><input type="text" name="tempreg[course_id]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Crn: </td>
                <td class="itemValue"><input type="text" name="tempreg[CRN]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Subject: </td>
                <td class="itemValue"><input type="text" name="tempreg[subject]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Title: </td>
                <td class="itemValue"><input type="text" name="tempreg[title]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Coursenum: </td>
                <td class="itemValue"><input type="text" name="tempreg[courseNum]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Sectionnum: </td>
                <td class="itemValue"><input type="text" name="tempreg[sectionNum]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Days: </td>
                <td class="itemValue"><input type="text" name="tempreg[days]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Starttime: </td>
                <td class="itemValue"><input type="text" name="tempreg[startTime]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Endtime: </td>
                <td class="itemValue"><input type="text" name="tempreg[endTime]"/></td>
            </tr>
          
      </table>
      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
