<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @tempreg.student_id %></h1>
    <%= link_to "Edit", :action => :edit, :id => @tempreg.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">StudentId</td>
        <td class="itemValue"><%= @tempreg.student_id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">SectionId</td>
        <td class="itemValue"><%= @tempreg.section_id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">CourseId</td>
        <td class="itemValue"><%= @tempreg.course_id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">CRN</td>
        <td class="itemValue"><%= @tempreg.CRN%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Subject</td>
        <td class="itemValue"><%= @tempreg.subject%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Title</td>
        <td class="itemValue"><%= @tempreg.title%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">CourseNum</td>
        <td class="itemValue"><%= @tempreg.courseNum%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">SectionNum</td>
        <td class="itemValue"><%= @tempreg.sectionNum%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Days</td>
        <td class="itemValue"><%= @tempreg.days%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">StartTime</td>
        <td class="itemValue"><%= @tempreg.startTime%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">EndTime</td>
        <td class="itemValue"><%= @tempreg.endTime%></td>
      </tr>
      
    </table>
  </div>

</div>
