<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @tempreg.student_id %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @tempreg.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">StudentId</div>
            <div class="itemValue"><%= @tempreg.student_id %></div>
          </li>
      
          <li>
            <div class="itemLabel">SectionId</div>
            <div class="itemValue"><%= @tempreg.section_id %></div>
          </li>
      
          <li>
            <div class="itemLabel">CourseId</div>
            <div class="itemValue"><%= @tempreg.course_id %></div>
          </li>
      
          <li>
            <div class="itemLabel">CRN</div>
            <div class="itemValue"><%= @tempreg.CRN %></div>
          </li>
      
          <li>
            <div class="itemLabel">Subject</div>
            <div class="itemValue"><%= @tempreg.subject %></div>
          </li>
      
          <li>
            <div class="itemLabel">Title</div>
            <div class="itemValue"><%= @tempreg.title %></div>
          </li>
      
          <li>
            <div class="itemLabel">CourseNum</div>
            <div class="itemValue"><%= @tempreg.courseNum %></div>
          </li>
      
          <li>
            <div class="itemLabel">SectionNum</div>
            <div class="itemValue"><%= @tempreg.sectionNum %></div>
          </li>
      
          <li>
            <div class="itemLabel">Days</div>
            <div class="itemValue"><%= @tempreg.days %></div>
          </li>
      
          <li>
            <div class="itemLabel">StartTime</div>
            <div class="itemValue"><%= @tempreg.startTime %></div>
          </li>
      
          <li>
            <div class="itemLabel">EndTime</div>
            <div class="itemValue"><%= @tempreg.endTime %></div>
          </li>
      
    </ul>
  </div>

</div>
