<div data-role="page" id="wait">

	<div data-role="header" data-position="inline">
    <h1 id="waitmsg">Please wait...</h1>
    <a data-rel="back">Back</a>
	</div>

  <div data-role="content" id="content">
  	RESPONSE
		<div id="loginmsg">
      <%= $testvar %>
    </div>
  </div>

</div>