<div data-role="page" data-url="/app/index.erb" id="index" class="swipepage">
	<%= AppApplication.get_panel %>
	
  <% current_student = AppApplication.current_student %>
  <div data-role="header" data-position="inline">
    <h1>Student Registration</h1>
		<a href="#panel" class="ui-btn-right" data-iconpos="notext" data-icon="bars" ></a>
  </div>

  <div data-role="content" id="content">
    <ul data-role="listview">
      <li><a href="<%= url_for :controller => :Course, :action => :listmethods %>">Browse by Course</a></li>
      <li><a href="<%= url_for :controller => :Department, :action => :index %>">Browse by Department</a></li>
      <% if current_student %>
			<li><a href="<%= url_for :controller => :TempReg, :action => :index %>">TimeTable</a></li>
			<li><a href="<%= url_for :controller => :Registration, :action => :index %>">Registrations</a></li>
      <% end %>
    </ul>
		
    <%= AppApplication.get_loginpopup %>
		
  </div>
  <script>
  $('#index').one('pageshow', function() {
    prepFastClick();
  });

  function prepFastClick() {
      $('a').not('[href*="#"]').fastClick(function(e) {
        console.log('fastclick');
        e.preventDefault();
        var url = $(this).attr('href');
        var specifieddirection = $(this).data('direction');
        var reverse;
        if (specifieddirection == 'reverse') {
          reverse = true;
        } else {
          reverse = false;
        }

        $.mobile.changePage( url, {
          transition: "slide",
          reverse: reverse
        });
      });
    }
  </script>
</div>
