<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title>Student Registration</title>

    <% is_bb6 = System::get_property('platform') == 'Blackberry' && (System::get_property('os_version').split('.')[0].to_i >= 6) %>

    <% if is_bb6 %>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <% else %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <% end %>

    <% if System::get_property('platform') == 'WP7' %>
        <meta http-equiv="X-UA-Compatible" content="IE=9"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <% end %>

    <% if System::get_property('platform') == 'APPLE' || System::get_property('platform') == 'ANDROID' || System::get_property('platform') == 'WP7' || is_bb6 || System::get_property('webview_framework') =~ /^WEBKIT/ %>
        <script src="/public/jquery/jquery-1.8.2.min.js" type="text/javascript"></script>
        <script src="/public/jquery/jquery.json-2.3.min.js" type="text/javascript"></script>
		<link rel="stylesheet" href="/public/jqmobile/theme.css" />
        <link rel="stylesheet" href="/public/jqmobile/jquery.mobile.structure-1.3.1.min.css" />
        <link rel="stylesheet" href="/public/css/application.css" />
        <link rel="stylesheet" href="/public/css/idangerous.swiper.css" />
        
        <script type="text/javascript">
            $(document).bind("mobileinit", function(){
                  $.mobile.loader.prototype.options.text = "loading";
                  $.mobile.loader.prototype.options.textVisible = false;
                  $.mobile.loader.prototype.options.theme = "a";
                  $.mobile.loader.prototype.options.html = "";
                // Uncomment these options in case of performance problem in pages transition
                  $.mobile.defaultPageTransition = 'slide';
                //$.mobile.defaultDialogTransition = 'none';
                //$.mobile.ajaxEnabled = false;
                //$.mobile.pushStateEnabled = false;
                $.mobile.loadingMessageDelay = 100; // in ms
			});
        </script>
        <% if System::get_property('platform') == 'WP7' %>
          <script type="text/javascript" charset="utf-8" src="/public/js/jquery-wp7-patch.js"></script>
        <% end %>
		<script src="/public/jquery/underscore-min.js" type="text/javascript"></script>
		<script src="/public/jquery/backbone-min.js" type="text/javascript"></script>
        <script type="text/javascript" charset="utf-8" src="/public/jqmobile/jquery.mobile-1.3.1.min.js"></script>
        
        <script type="text/javascript" src="/public/jquery/jquery.hammer.js"></script>
        
        <script type="text/javascript" src="/public/js/jquery.countdown.min.js"></script>
        <script src="/public/jquery/idangerous.swiper-1.9.min.js" type="text/javascript"></script>
        <script src="/public/jquery/jQuery.fastClick.js"></script>
<!--DEV
		<script src="/public/js/application.js" type="text/javascript"></script>
        <script src="/public/js/courseindex.js" type="text/javascript"></script>
        <script src="/public/js/coursesbydept.js" type="text/javascript"></script>
        <script src="/public/js/department.js" type="text/javascript"></script>
        <script src="/public/js/registration.js" type="text/javascript"></script>
        <script src="/public/js/sectionindex.js" type="text/javascript"></script>
        <script src="/public/js/sectionshow.js" type="text/javascript"></script>
        <script src="/public/js/login.js" type="text/javascript"></script>
        <script type="text/javascript" charset="utf-8" src="/public/js/timetable.js"></script>
EODEV-->

<!--PROD-->
        <script src="/public/js/studentreg.js" type="text/javascript"></script>
<!--EOPROD-->



    <% end %>

</head>

<body
<% if is_bb6 %>
	data-do-fix-forms="true"
<% elsif System::get_property('platform') == 'WP7' %>
	onload="wp7_change_forms_action_to_get()"
<% end %>
    data-platform="<%= System::get_property('platform') %>"
	>
    <%= @content %>

</body>

</html>
