<div id="waitpage" data-role="page" >
<!-- data-rho-wait-page="true" -->
  <div data-role="header" data-position="inline">
    <h1>Loading Data</h1>
  </div>
  <div id="content" data-role="content">
    <p>Test</p>
  </div>
</div>
