<div data-role="page" data-add-back-btn="true" id="login">

  <div data-role="header" data-position="inline">
    <h1>Login</h1>
  </div>

  <div data-role="content">
    <form id="loginform">

			<div data-role="popup" id="popupLoginError" data-theme="e" data-transition="none" data-position-to="window">
				<p id="error-message"></p>
			</div>

      <div data-role="fieldcontain">
        <label for="login" class="itemLabel">Email</label>
        <input type="text" id="email" name="email" class="itemValue"/>
      </div>
      <div data-role="fieldcontain">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="itemValue"/>
      </div>
			<!--<input type="submit" value="Login" />-->
      <a href="#" id="formloginbtn" data-role="button" onClick="doLogin();"/>Login</a>
    </form>
  </div>

</div>