<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @registrationtimes.object %>
    <h1>Edit <%= @registrationtimes.studenttype%></h1>
    <%= link_to "Delete", :action => :delete, :id => @registrationtimes.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @registrationtimes.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Studenttype: </td>
              <td class="itemValue"><input type="text" name="registrationtimes[studenttype]" value="<%= @registrationtimes.studenttype %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Starttime: </td>
              <td class="itemValue"><input type="text" name="registrationtimes[startTime]" value="<%= @registrationtimes.startTime %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
