<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @registrationtimes.studenttype %></h1>
    <a href="<%= url_for :action => :show, :id => @registrationtimes.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @registrationtimes.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @registrationtimes.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="registrationtimes[studenttype]" class="fieldLabel">Studenttype</label>
            <input type="text" id="registrationtimes[studenttype]" name="registrationtimes[studenttype]" value="<%= @registrationtimes.studenttype %>" <%= placeholder( "Studenttype" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="registrationtimes[startTime]" class="fieldLabel">Starttime</label>
            <input type="text" id="registrationtimes[startTime]" name="registrationtimes[startTime]" value="<%= @registrationtimes.startTime %>" <%= placeholder( "Starttime" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
