<div data-role="page" class="swipepage">
<link rel="stylesheet" type="text/css" href="/public/css/county.css" />
	<div data-role="header" data-position="inline">
    <h1>Registration Time</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
	</div>

  <div data-role="content">
		
  </div>
<script src="/public/js/county.js" type="text/javascript"></script>
</div>
