<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @registrationtimes.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @registrationtimes.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="registrationtimes[studenttype]" class="fieldLabel">Studenttype</label>
            <input type="text" id="registrationtimes[studenttype]" name="registrationtimes[studenttype]" <%= placeholder("Studenttype") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="registrationtimes[startTime]" class="fieldLabel">Starttime</label>
            <input type="text" id="registrationtimes[startTime]" name="registrationtimes[startTime]" <%= placeholder("Starttime") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
