<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @registrationtimes.studenttype %></h1>
    <%= link_to "Edit", :action => :edit, :id => @registrationtimes.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Studenttype</td>
        <td class="itemValue"><%= @registrationtimes.studenttype%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">StartTime</td>
        <td class="itemValue"><%= @registrationtimes.startTime%></td>
      </tr>
      
    </table>
  </div>

</div>
