<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @registration.object %>
    <h1>Edit <%= @registration.studentID%></h1>
    <%= link_to "Delete", :action => :delete, :id => @registration.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @registration.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Studentid: </td>
              <td class="itemValue"><input type="text" name="registration[studentID]" value="<%= @registration.studentID %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Sectionid: </td>
              <td class="itemValue"><input type="text" name="registration[sectionID]" value="<%= @registration.sectionID %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
