<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @registration.studentID %></h1>
    <a href="<%= url_for :action => :show, :id => @registration.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @registration.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @registration.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="registration[studentID]" class="fieldLabel">Studentid</label>
            <input type="text" id="registration[studentID]" name="registration[studentID]" value="<%= @registration.studentID %>" <%= placeholder( "Studentid" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="registration[sectionID]" class="fieldLabel">Sectionid</label>
            <input type="text" id="registration[sectionID]" name="registration[sectionID]" value="<%= @registration.sectionID %>" <%= placeholder( "Sectionid" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
