<div class="swipepage" data-role="page" id="registration">
	<% student = AppApplication.current_student %>
	<% tempregs = AppApplication.get_tempregs %>
		<%= AppApplication.get_panel %>
	
	<div data-role="header" data-position="inline">
    <h1>Registrations</h1>
    <a id="backbutton" href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="false" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Back
    </a>
    <a href="#panel" class="ui-btn-right" data-iconpos="notext" data-icon="bars" ></a>
	</div>

  	<div data-role="content">

  		<% 	if student == nil
  				value = "no student"
  			else 
				value = student.regtime_id
			end
  		%>
  		<input type="hidden" id="regtimeid" value="<%= value %>" />
  		<input type="hidden" id="studentid" value="<%= student.remote_id %>" />
  		<div style="display:none;" type="text" id="registrations"><%= $registered%></div>
  		<div style="display:none;" type="text" id="failedregistrations"><%= $failed%></div>
		<div data-role="collapsible" data-theme="a" data-content-theme="d" data-expanded-icon="arrow-d" data-collapsed="false" data-collapsed-icon="arrow-r">
	  		<h3>Time until Registration</h3>
	  		<div style="text-align: center;">
				<div class="countdown-styled clearfix"></div>
			</div>
		</div>

		<div data-role="collapsible" id="regcollapse" data-theme="a" data-content-theme="d" data-expanded-icon="arrow-d" data-collapsed="false" data-collapsed-icon="arrow-r">
	  		<h3>Registrations</h3>
	  		<ul id="registrations" data-role="listview">
			</ul>
		</div>

		<div data-role="collapsible" data-theme="a" data-content-theme="d" data-expanded-icon="arrow-d" data-collapsed="false" data-collapsed-icon="arrow-r">
	  		<h3>Temporary Registrations</h3>
	  		<ul style="border" id="tempregs" data-role="listview">
	  			<% if tempregs.count > 0 %>
	  			<% tempregs.each do |tempreg| %>
	  			<li><a><%= tempreg.title %></a></li>
	  			<% end %>
	  			<% else %>
	  			<h3 style="text-align:center;">No Temporary Registrations</h3>
	  			<% end%>
			</ul>
			<br>
			<% if tempregs.count > 0 %>
				<a href="<%= url_for :controller => :TempReg, :action => :register %>" data-role="button" data-icon="plus">Register</a>
			<% end %>
		</div>

	</div>
</div>
