<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @registration.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @registration.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="registration[studentID]" class="fieldLabel">Studentid</label>
            <input type="text" id="registration[studentID]" name="registration[studentID]" <%= placeholder("Studentid") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="registration[sectionID]" class="fieldLabel">Sectionid</label>
            <input type="text" id="registration[sectionID]" name="registration[sectionID]" <%= placeholder("Sectionid") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
