<div data-role="page" data-add-back-btn="false" id="removereg" class="swipepage">
  <%= AppApplication.get_panel %>

  <div data-role="header" data-position="inline">
    <h1>Delete</h1>
    <a href="/app/Registration" data-icon="false" data-direction="reverse">Back</a>
    <a href="#panel" class="ui-btn-right" data-iconpos="notext" data-icon="bars" ></a>
  </div>

  <div data-role="content">
    <h3>Delete Registration</h3>
    <p>Are you sure you want to delete <span id="coursename"></span>?</p>
    <a href="#" id="deletesection" data-role="button">Delete</a>
  </div>

  <script>
  $(document).on('pageshow', 'div.ui-page-active#removereg', function() {
    var regid = getParameterByName('regid', document.URL);
    var title = getParameterByName('title', document.URL);
    $('div.ui-page-active span#coursename').text(title);
    $('div.ui-page-active a#deletesection').attr('data-regid',regid);
    prepClick();
  });

  function prepClick() {
    $(document).on('click', 'div.ui-page-active a#deletesection', function() {
        var regid = $(this).data('regid');
        deleteReg(regid);
    });
  }

  function deleteReg(regid) {
    $.ajax({
      url: 'http://prowebdesigns.org:3000/registrations/deletereg?id=' + regid,
      type: 'POST',
      success: function(result) {
        window.location='/app/Registration'
      }
    });
  }

  function getParameterByName(name, url) {
    var match = RegExp('[?&]' + name + '=([^&]*)').exec(url);
    return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
  }
  </script>

</div>

