<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @registration.studentID %></h1>
    <%= link_to "Edit", :action => :edit, :id => @registration.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">StudentID</td>
        <td class="itemValue"><%= @registration.studentID%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">SectionID</td>
        <td class="itemValue"><%= @registration.sectionID%></td>
      </tr>
      
    </table>
  </div>

</div>
